// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Custom
@import "custom";

.bg-inv-primary {
    background-color: #f29f67;
}

.text-orange {
    color: orangered;
}

.bg-inv-secondary {
    background-color: #1e1e2c;
    color: #f29f67;
    .text-muted {
        color: darken($color: #f29f67, $amount: 20%) !important;
    }
    .nav-item {
        color: lighten($color: #1e1e2c, $amount: 40%) !important;
        :hover {
            color: white !important;
        }
        .active {
            color: white !important;
        }
    }
    .nav-link.active {
        background-color: #f29f6777 !important;
        border-radius: 0;
    }
}
.text-inv-primary {
    color: #f29f67;
}

.text-inv-secondary {
    color: #1e1e2c;
}

.border-inv-primary {
    border-color: #f29f67;
}

body {
    font-family: "Lexend", serif !important;
}

.text-cash-green {
    color: #158a0c;
}
.text-cash-red {
    color: #ae0c00;
}
.btn-inv-primary {
    color: #f29f67 ;
    background-color: #ae0c00 ;
    :hover {
        color: white !important;
        background-color: #ae0c00 !important;
    }
    :focus {
        color: white !important;
        background-color: #ae0c00 !important;
    }
    :active {
        color: white !important;
        background-color: #ae0c00 !important;
    }
    :active {
        color: white !important;
        background-color: #6c6c6c !important;
    }


}
